body {
	background-image: url("https://data.whicdn.com/images/216650419/superthumb.jpg");
}

p {
	color:black;
	text-align: center;
}


ul	{
	list-style-type: none;
	background: MediumSeaGreen;
	width: 100px;
	padding: 20px;
	margin: 0;
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
     .menu {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
     /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
     .column {
    float: left;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}
     .footer {
    background-color: #F1F1F1;
    text-align: center;
    
    padding: 10px;
}
     .floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}

.after-box {
    clear: left;
}
